//utills.scss 파일 임포트
@import './utils.scss';

// 클래스 스타일 작성
.SassComponent {
    display: flex;

    // SassComponent 클래스의 자손 태그 중 box 클래스에 대한 스타일 작성
    .box {
        background-color: $red;
        cursor: pointer;
        transition: all 0.3s ease-in;

        // box 클래스와 red 클래스를 모두 가지고 있는 태그에 대한  스타일 작성
        &.red {
            background-color: $red;
            //@mixin
            @include square(1);
        }
        &.green {
            background-color: $green;
            //@mixin
            @include square(2);
        }
        &.orange {
            background-color: $orange;
            //@mixin
            @include square(3);
        }
        &.yellow {
            background-color: $yellow;
            //@mixin
            @include square(4);
        }
        &.blue {
            background-color: $blue;
            //@mixin
            @include square(5);
        }
        &.indigo {
            background-color: $indigo;
            //@mixin
            @include square(6);
        }
        &.violet {
            background-color: $violet;
            //@mixin
            @include square(7);
        }

        // box 클래스 태그에 hover가 일어났을 때의 스타일 작성

        &:hover {
            background-color: black;
        }
    }
}